body {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}
header {
    grid-area: header;
}
h1 {
    font-family: 'Teko-Regular', sans-serif;
    font-size:4em;
    color:black;
}